/*Extendable Pages*/
.accordion {
	background: #555;
	float: right;
	font-weight: 225;
	width: 100%;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.5s;
	animation-name: FadeIn;
	animation-duration: 4s;
	-webkit-animation-name: FadeIn;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s;
	/* Safari 4.0 - 8.0 */
}

.Active,
.accordion:hover {
	float: right;
	/*background-color: #444;
	backface-visibility: inherit;*/
	border-radius: 20px;
}

.panel {
	border-radius: 28px;
	max-height: 0vh;
	padding: 0 18px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	/*opacity: 0.5;*/
}

.accordion:after {
	content: "\21E9";
	padding: 16px 20px;
	border-radius:50%;
	border: 2px solid aqua;
	color: #777;
	font-size: 24px;
	font-weight: 225;
	margin-left: 25px;
	margin-top: -50px;
	text-align: right;
	float: right;
	transition: 0.5s;
	animation-name: FadeIn;
	animation-duration: 4s;
	-webkit-animation-name: FadeIn;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s;
	/* Safari 4.0 - 8.0 */
}

.Active:after {
	border: 2px solid aqua;
	transition: 0.5s;
	content: "\21EB";
	float: right;
	text-align: right;
	animation-name: FadeIn;
	animation-duration: 4s;
	-webkit-animation-name: FadeIn;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s;
	/* Safari 4.0 - 8.0 */
}

.livechat {
	z-index: 2;
	position: fixed;
	bottom: 32px;
	right: 32px;
	background-color: aqua;
	cursor: pointer;
	padding: 0px 0px;
	border: none;
	outline: none;
	font-size: 0px;
	font-display: none;
	overflow: inherit;
	width: 64px;
	height: 64px;
	opacity: 1;
	transition: 0.4s;
	border-radius: 100%;
	animation-name: FadeIn;
	animation-duration: 4s;
	-webkit-animation-name: FadeIn;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s;
	/* Safari 4.0 - 8.0 */
}

.A,
.livechat:hover {
	bottom: 32px;
	right: 32px;
	background-color: #444;
	box-shadow: 4px 4px 8px #111, 0 0 25px #222, 0 0 5px #444;
	color: whitesmoke;
	padding-bottom: 12px;
	font-weight: 225;
	font-size: 300%;
	text-align: right;
	width: 400px;
	max-width: 100%;
	max-height: 100%;
	margin-left: 100px;
	transition: 0.4s;
	border-bottom: 6px solid aqua;
	border-radius: 28px;
}

.openchat {
	z-index: 2;
	position: fixed;
	bottom: 97px;
	right: 32px;
	padding: 0 0px;
	max-width: auto;
	max-height: 0px;
	width: 400px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	box-shadow: 4px 4px 8px #111, 0 0 25px #222, 0 0 5px #444;
	border-radius: 20px;
}

@media screen and (max-width: 640px) {
	.livechat {
		z-index: 2;
		position: fixed;
		bottom: 0px;
		right: 32px;
		background-color: aqua;
		cursor: pointer;
		padding: 0px 0px;
		border: none;
		outline: none;
		font-size: 0px;
		font-display: none;
		overflow: inherit;
		width: 64px;
		height: 64px;
		opacity: 1;
		transition: 0.4s;
		border-radius: 100%;
		animation-name: FadeIn;
		animation-duration: 4s;
		-webkit-animation-name: FadeIn;
		/* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 4s;
		/* Safari 4.0 - 8.0 */
	}

	.A,
	.livechat:hover {
		bottom: 0px;
		right: 0;
		background-color: #444;
		color: whitesmoke;
		padding-bottom: 12px;
		font-weight: 225;
		font-size: 300%;
		text-align: right;
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		margin-left: 100px;
		transition: 0.4s;
		border-bottom: 6px solid aqua;
		border-radius: 28px;
	}

	.openchat {
		z-index: 2;
		position: fixed;
		bottom: 65px;
		right: 0;
		padding: 0 0px;
		max-width: auto;
		max-height: 0px;
		width: 100%;
		height: 500px;
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
		box-shadow: 4px 4px 8px #222, 0 0 25px #111, 0 0 5px #333;
		border-radius: 20px;
	}
}