.Table {
    display: grid;
    box-sizing: border-box;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr)) ;
	grid-gap: 16px 48px;
	padding: 16px 48px;
}
.Table div
{
    background-image: linear-gradient(90deg,#555,#333); 
    width: 100%;
	padding: 16px; 
	transition:0.5s;
}
.Table div:hover
{
	box-shadow: 4px 4px 8px #222, 0 0 25px #111, 0 0 5px #333;
	transition:0.5s;
}

.Table a {
	display: table;
	align-items: center;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
	background-image:linear-gradient(45deg,rgb(0, 132, 255),#333); 
	border: 2px solid rgb(0, 132, 255);
	color: #fff;
	padding: 16px;
	transition:0.25s;
}
.Table a span {
	display: inline-block;
    margin-right: 5px;
	transition:0.25s;
}
.Table a:hover span {
	display: inline-block;
    margin-right: 5px;
	transition:0.25s;
	animation:bounce 2s linear infinite;
}

.Table a:hover {
box-shadow: 4px 4px 8px #222, 0 0 25px #111, 0 0 5px #333;
transition:0.25s;
}
	@keyframes bounce
	{
		0%{
			transform:translate(-4px, 0px);	
		}
		50%{
			transform:translate(4px, 0px);	
		}
        100%{
			transform:translate(-4px, 0px);	
		}
	}
.Table .TitleCard {
    width: 100%;
    padding: 16px;
}
@media screen and (max-width: 640px) {
	.Table{
		width: 100%;
		margin-right: 0%;
		padding: 0;
		grid-template-columns:repeat(auto-fit, minmax(max-width,1fr)) ;
		grid-gap: 48px 48px;

	}
	.Table div
	{
		
		background-image: linear-gradient(90deg,#555,#333); 
		width: 100%;
		padding: 8px 8px; 
		transition:0.5s;
	}
}
